__pycache__/

# test model
yolo.pt

# dataset
/data/solutions/

# log:
logs/

# database
*.db

# Environments
.env

# Airflow
airflow-webserver.pid
airflow.cfg

# Docker 
.dockerignore
Dockerfile
docker-compose.yaml