# Hooks
apache-airflow-providers-apache-spark==4.9.0
apache-airflow-providers-amazon
apache-airflow-providers-google

# DB
pymysql

# Process
pandas
pyspark==3.5.2
datasets

# ML
transformers
transformers[torch]

# Visualization
tensorboard